@{
    ViewData["Title"] = "Home Page";
}

<h1>Ejemplo 1: Uso básico de SweetAlert2</h1>

<button class="btn btn-primary" onclick="mostrarAlertaSweetAlert2()">Alerta básica</button>
<button class="btn btn-success" onclick="mostrarAlertaSweetAlert2Exitoso()">Bien hecho</button>
<button class="btn btn-danger" onclick="mostrarAlertaSweetAlert2Error()">Mostrar error</button>

<h1>Ejemplo 2: Interceptando un Formulario</h1>

<form method="post" id="formulario" onsubmit="enviarFormulario(event)">
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" required name="Nombre" class="form-control" autocomplete="off" />
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

@section Scripts{
    <script>
        function mostrarAlertaSweetAlert2(){
            Swal.fire('Ejemplo de SweetAlert2');
        }

        function mostrarAlertaSweetAlert2Exitoso(){
            Swal.fire('Excelente', 'Acción realizada de manera exitosa', 'success');
        }

        function mostrarAlertaSweetAlert2Error() {
            Swal.fire('Error', 'Ha ocurrido un error', 'error');
        }

        function enviarFormulario(e){
            e.preventDefault();

            Swal.fire({
                title: '¿Quieres guardar los cambios?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí'
            }).then((resultado) => {
                if (resultado.isConfirmed){
                    const formulario = document.getElementById('formulario');
                    formulario.submit();
                }
            })

        }
    </script>
}